body {
  background-image: url("images/winery-865093_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #cccccc;
  font-family: Didot;
}
.card-content {
  background-color:#E9ECF5;
}
[for] {
  color: #E9ECF5;
}
.btn {
  color: black;
}
#zipSubmit {
  background-color: #00A6A6;
}
nav {
  background-color: #00A6A6;
}
#title {
  margin-top: 4%;
}
#zip {
  margin-top: none;
}
p {
  color: black;
}
a {
  color: black;
}
input {
  color: #E9ECF5;
}
.card-reveal {
  overflow: scroll;
}
